/* fuente google */
body {
    font-family: "Audiowide", sans-serif;
    
    }
/* Cambio estilo global de boots bgdark y navbar */
 
small.text-muted{
text-shadow: 0.5px 0.5px 15px red;
--bs-secondary-color: black 
}

    .bg-dark {
    --bs-bg-opacity: 1;
       background: radial-gradient(circle, rgba(255, 0, 0, 0.432) 0%, rgba(0,0,0,1) 100%);
    }

    .navbar-dark {
        --bs-navbar-color: rgb(255, 255, 255);
        --bs-navbar-hover-color: rgb(255, 17, 0);
        --bs-navbar-disabled-color: rgba(243, 243, 243, 0.925);
        --bs-navbar-active-color: rgba(255, 0, 0, 0.973);
        --bs-navbar-brand-color: rgb(236, 9, 9);
        --bs-navbar-brand-hover-color: rgba(255, 255, 255, 0.459);
        --bs-navbar-toggler-border-color: rgba(255, 0, 0, 0.849);
        --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e)

     
    }
    .navbar-toggler-icon {
      background-image: url(img/favicon.jpg);
    }
    /* estilo carousel */
    .carousel-caption {
        text-shadow: 2px 2px 8px red;
    }
/* estilos de las card----------------------- */
    .card-title{
        color: red;
        text-shadow: 1px 1px 9px rgb(8, 0, 0);

        
    }
    div.col{
      padding-top: 3rem;
      padding-bottom: 1rem; 
      gap: 8px;
    }
    #main {
      background-image: url(img/food-1406879_960_720.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .card-text { text-shadow: 1px 1px 9px red;
    text-align: justify;
    color: azure;
    text-decoration: underline red;
    }

    .btn {
        border: var(--bs-btn-border-width) solid #b02a37;
        background-color: #b02a37;
    }
        .btn{
          color: rgb(243, 9, 9);
          transition: all 0.3s;
          position: relative;
        }
        .btn  {
          transition: all 0.3s;
        }
        .btn::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0;
          transition: all 0.3s;
          border-top-width: 1px;
          border-bottom-width: 1px;
          border-top-style: solid;
          border-bottom-style: solid;
          border-top-color: rgba(236, 6, 6, 0.5);
          border-bottom-color: rgba(214, 2, 2, 0.5);
          transform: scale(0.1, 1);
        }
        .btn:hover span {
          letter-spacing: 2px;
        }
        .btn:hover::before {
          opacity: 1; 
          transform: scale(1, 1); 
        }
        .btn::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          transition: all 0.3s;
          background-color: rgba(255,255,255,0.1);
        }
        .btn:hover::after {
          opacity: 0; 
          transform: scale(0.1, 1);
        }
    
    
    .btn-primary {
    --bs-btn-hover-bg: #d70b0b;
    --bs-btn-hover-border-color: #ca0a0a;
    }
    /* formulario de contacto */
    input[type=text], select, textarea{
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
      }
      
      /* Estilo del label de los imputs */
      label {
        padding: 12px 12px 12px 0;
        display: inline-block;
      }
      
      /* Estilo Boton Submit */
      input[type=submit] {
        background-color: #a8031fd3;
        color: var(--main-c);
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
      }
      /* ANIMACIONES DE MENU COMIDA */
      
    
  
     



    footer{
        background-image: url(img/Naval_ensign_of_the_Empire_of_Japan.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
      
    footer ul{
        color: #0365a7;
        list-style: none;
        padding: 0;
      }
      
      .wrap-footer{
        display: grid;
        grid-template-columns: 30% 15% 15% 20%;
        column-gap: 5%;
        padding: 1rem;
        margin: 2rem auto;
        max-width: 1200px;
      }
      
      element-footer h5{
        margin: 1rem 0;
      }
      
      .text-element-footer{
        line-height: 2;
      }
      
      .text-element-footer li a{
        color: var(--main-c);
      }
      
      .redes-element-footer ul{
        display: flex;
        flex-wrap: wrap;
      }
      
      .redes-element-footer img{
        width: 4rem;
      }
      .rededs-element-footer li{
        margin-right: 1rem;
      }
      
      .footer-creds{
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        color: #576171;
        font-size: .9rem;
        max-width: 1200px;
        margin: 0 auto;
      }
      
      .legal-creds ul{
        display: flex;
      }
      
      .legal-creds ul li{
        padding-right: 1rem;
      }
      
      .legal-creds ul li a{
        color: #576171;
      }
      
      @media (max-width:768px){
        .wrap-footer{
          grid-template-columns: repeat(2,1fr);
        }
      }
      
      @media (max-width:480px){
        .wrap-footer{
          grid-template-columns: repeat(1,1fr);
        }
      }
      
      @media (max-width:320px){
        .footer-creds{
          flex-flow: column;
        }
}